html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flexContainer {
  max-width: 100%;
  width: 100%;
  border-top: 1px solid #3b91ad;
  border-left: 1px solid #3b91ad;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexColumn {
  display: flex;
  width: 14.2857142857%;
  height: 201px;
  border-bottom: 1px solid #3b91ad;
  border-right: 1px solid #3b91ad;
  flex: 0 1 auto;
  justify-content: center;
}

#title{
  display: none;
}
.day.inactive {
  background-color: #f8f8f8;
  color: #ccc;
}

.day.today {
  background-color: #fcf8e3;
}
.dayName{
  color: #262626 !important;
  font-size: 13px;
  font-family:"Fira Sans" !important;
  font-weight: 600;
  position: relative;
  top: 43px;
  left: 20px;
}

.day .inner-grid {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: left;
}

.day .event-slot {
  position: relative;
  margin: 0.5rem 0;
  min-height: 28px;
  font-size: 14px;
}

.day .event-slot.event {
  background: #3b91ad;
  color: #3b91ad;
  white-space: nowrap;
  text-indent: -10000px;
  cursor: pointer;
}

.day .event-slot .event-title {
  color: #262626 !important;
  font-size: 14px;
  font-family:"Fira Sans" !important;
  font-weight: 600;
  position: absolute;
  top: 3.5px;
  left: 0.5rem;
  z-index: 100;
  color: #fff;
  z-index: 1;
  overflow: visible;
  text-indent: 0;
  top: 82.5px;
  left: -60px;
}

.day .event.event-first-day {
  margin-left: 0.5rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.day .event.event-last-day {
  margin-right: 0.5rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.day .date {
  padding: 0.25rem 0.5rem;
  text-align: right;
  color: #262626;
  font-size: 42px;
  font-family:"Fira Sans" !important;
  font-weight: 900;
  margin-right: 5px;
  position: relative;
  top: 22px;
  left: 20px;
}
.topBar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flexColumn{
    width: 49.285714%;
    flex: 1 1 auto;
    
  }
  .flexContainer{
    width: 99%;
  }
  .day .event-slot .event-title{
    white-space: normal;
  }

}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media only screen and (min-width: 768px) and (max-width:1024px ){
  .flexContainer{
    width: 87%;
  }
  .flexColumn{
   width: 33.285714%;
   flex:1 1 auto;
  }
 }


 
